body{
  font-family: 'Montserrat',sans-serif;
}

#title{
  background-color: #ff4c68;
  color: white;
  padding-bottom:100px;
  /* margin-left: 100px;
  margin-right: 100px; */
}
#features{
  text-align: center;
  padding: 7% 15% 7% 15%;
  /* font-family: 'Montserrat',sans-serif; */
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.container-fluid{
  padding: 3% 15%;
}

h1{
  /* font-family: 'Montserrat-Black', sans-serif; */
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
}
h3{
  font-size: 1.5rem;
  font-family: 'Montserrat',sans-serif;
  font-weight: 800;
}

h2{
  font-weight: 800;
  font-size: 3rem;
}

p{
  color: #8f8f8f;
}

/* nav bar */

.navbar{
  padding:0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link{
  font-size: 1.25rem;
  font-weight: lighter;
}

/* buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

.feature-icon{
  font-size: 3.5rem;
  color: #ef8172;
  padding-bottom: 20px;
}

.feature-icon:hover{
  color:#ff4c68;

}

  /* <!-- testimonials --> */
  #testimonials{

    text-align: center;
    background-color: #ef8172;
    color: white;
  }

  .testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }

  .carousel-item{
      padding: 7% 15% 7% 15%;
  }

/* press */

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

.price-text{
  font-weight: 800;
  font-size: 3rem;
}

.pricing-column{
  padding: 3% 2%;
}

/* cta section */

#cta{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 6% 13%;
}

.cta-heading{
  font-size: 3.5rem;
}


/* footer */

#footer{
  padding: 7% 15% 7% 15%;
  text-align: center;
}

.footer-icon{
  padding: 2% 1%;
  font-size: 1.5rem;
}

/* mobile section */

@media (max-width:1028px) {

.title-image{
  position: static;
  transform: rotate(0);
}

#title{
  text-align: center;
}
}
